<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Frijole|Permanent+Marker" rel="stylesheet">

    <style media="screen">
    /*.col-md-6 {
      padding-bottom: 35%;
    }*/

    h2 {
      font-family: 'Frijole', cursive;
      font-size: 40pt;
    }

    span {
      margin-bottom: 20pt;
    }

    p {
      font-family: 'Permanent Marker';
      font-size: 30pt;
      color: #24991D;
    }

    #player-2 {
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center">
            <h2><%= @game.player1.name %></h2>
            <img src="img/fiter.gif" class="img-responsive center-block" alt="">
            <p id="player_1_hp"><%= @game.player1.hp %> / 100</p>

            <% if @game.player_1_turn? %>
            <form class="player1_actions" action="/attack">
              <div class="btn-group">
                <button type="submit" class="btn btn-danger btn-lg">Attack</button>
                <button type="submit" class="btn btn-primary btn-lg">Sleep</button>
                <button type="submit" class="btn btn-success btn-lg">Poison</button>
                <button type="submit" class="btn btn-warning btn-lg">Paralyze</button>
              </div>
            </form>
            <% end %>
        </div>

        <div class="col-md-6 text-center">
          <h2><%= @game.player2.name %></h2>
          <img id="player-2" src="img/fiter.gif" class="img-responsive center-block" alt="">
          <p id="player_2_hp"><%= @game.player2.hp %> / 100</p>

          <% unless @game.player_1_turn? %>
          <form class="player1_actions" action="/attack">
            <div class="btn-group">
              <button type="submit" class="btn btn-danger btn-lg">Attack</button>
              <button type="submit" class="btn btn-primary btn-lg">Sleep</button>
              <button type="submit" class="btn btn-success btn-lg">Poison</button>
              <button type="submit" class="btn btn-warning btn-lg">Paralyze</button>
            </div>
          </form>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
